<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="PageProperties" type="PageProperties.Configuration.AssemblySection, PageProperties" />
  </configSections>
  <PageProperties>
    <Assemblys>
      <Add Assembly="PageProperties.Tests" />
      <Add Assembly="PageProperties" />
    </Assemblys>
  </PageProperties>
</configuration>